<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">
        	org.hibernate.dialect.MySQLDialect</property>		
        <property name="connection.url">
        <![CDATA[
        	jdbc:mysql://localhost:3306/db_examsystem?useUnicode=true&characterEncoding=utf8
        ]]>	
        </property>        
        <property name="connection.username">root</property>	
        <property name="connection.password">mysql2013</property>	
        <property name="connection.driver_class">				
        	com.mysql.jdbc.Driver</property>
        <mapping resource="com/goodyang/examsystem/po/Student.hbm.xml"/>
        <mapping resource="com/goodyang/examsystem/po/Teacher.hbm.xml"/>
        <mapping resource="com/goodyang/examsystem/po/Subject.hbm.xml"/>	
    </session-factory>
</hibernate-configuration>